%table
  %thead
    %tr
      %th Login
      %th Surname
      %th Name
      %th Phone
      %th Redmine Login
      %th Redmine Mail
      %th Is blocked
      %th Redmine
      %th Redmine password hash
      %th Groups
      %th Employer position
      %th
      %th
      %th
      %th
      %th

  %tbody
    - users.each do |user|
      %tr
        %td= user.login
        %td= user.surname
        %td= user.name
        %td= user.phone
        %td= user.redmine_login
        %td= user.redmine_mail
        %td= user.is_blocked
        %td= user.redmine_id
        %td= user.redmine_password_hash
        %td= user.groups
        %td= user.employer_position
        %td= link_to 'Employer', employer_path(user.employer_id)
        %td= link_to 'Dismiss', new_dismiss_employee_path(user__id: user.id)
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
