!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CacasApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %table
      %tr
        %td= link_to 'employers', employers_path
        %td= link_to 'users', users_path
        %td= link_to 'projects', projects_path
        %td= link_to 'groups', groups_path
        %td= link_to 'reload', cacas_reload_reload_path
    = yield
