= form_for @recruit_employee do |f|
  - if @recruit_employee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recruit_employee.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @recruit_employee.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :surname
    = f.text_field :user__surname
  .field
    = f.label :name
    = f.text_field :user__name
  .field
    = f.label :redmine_login
    = f.text_field :user__redmine_login
  .field
    = f.label :redmine_mail
    = f.text_field :user__redmine_mail
  -# .field
  -#   = f.label :phone
  -#   = f.text_field :user__phone
  -# .field
  -#   = f.label :is_blocked
  -#   = f.check_box :user__is_blocked
  -# .field
  -#   = f.label :redmine_id
  -#   = f.number_field :user__redmine_id
  -# .field
  -#   = f.label :redmine_password_hash
  -#   = f.text_field :user__redmine_password_hash
  -# .field
  -#   = f.label :groups
  -#   = f.text_field :user__groups
  -# .field
  -#   = f.label :employer_position
  -#   = f.text_field :user__employer_position
  .actions
    = f.hidden_field :user__employer_id
    = f.submit 'Save'
